<div class="container">
  <h2>Restaurants</h2>
  
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let restaurant of restaurants">
      <div class="card">
        <img [src]="restaurant.imgUrl" 
             class="card-img-top" 
             alt="Restaurant Image">
        <div class="card-body">
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <p class="card-text">Location: {{ restaurant.location }}</p>
          <button class="btn btn-danger" (click)="deleteRestaurant(restaurant)">
            <i class="fas fa-trash"></i> Supprimer
          </button>
          <button class="btn btn-warning" (click)="editRestaurant(restaurant)">
            Modifier
          </button>
        </div>
      </div>
    </div>
  </div>
</div>